@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

body,
html {
  background-color: #626061;
}

.bg {
  background: #d7d4d5;
  box-shadow: 5px 1px 8px rgba(0, 0, 0, 0.5);
  padding: 3rem;
  border-radius: 10px;
}
